<html ng-app="map">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
		<style type="text/css">
			body,
			html {
				width: 100%;
				height: 100%;
				margin: 0;
				font-family: "微软雅黑";
			}
			
			#l-map {
				height: 300px;
				width: 100%;
			}
			
			#r-result {
				width: 100%;
			}
		</style>
		<script src="js/angular.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=GgBzQDEo8aW1VxmGRF73toYvt1aDtMVw"></script>
		<title>公交/地铁线路查询</title>
	</head>

	<body ng-controller="indexCtrl">
		<input ng-model="busName" />
		<button ng-click="busSearch()">搜索</button>
		<div id="l-map"></div>
		<div id="r-result"></div>
	</body>

</html>
<script type="text/javascript">
	var app = angular.module("map", []);
	app.controller("indexCtrl", function($scope) {
		// 百度地图API功能
		var map = new BMap.Map("l-map"); // 创建Map实例
		map.centerAndZoom("广州", 12);

		var busline = new BMap.BusLineSearch(map, {
			renderOptions: {
				map: map,
				panel: "r-result"
			},
			onGetBusListComplete: function(result) {
				if(result) {
					var fstLine = result.getBusListItem(0); //获取第一个公交列表显示到map上
					busline.getBusLine(fstLine);
				}
			}
		});

		$scope.busSearch = function() {
			busline.getBusList($scope.busName);
		}
	})
</script>
