<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title></title>
	</head>
	<script type="text/javascript" src="../js/angular.js"></script>

	<body ng-app="angularDemo" style="border: 1px solid brown;">
		<div ng-controller="studentCtrl">
			{{name}}同学很勤奋
			<input ng-model="name" value="" />
			<br ng-app="" />
			<p id="bind" ng-bind="text" ng-model="text"></p>
			<p>{{text}}</p>
			<p>显示的单词是{{word|uppercase}}</p>
			<p>显示的金钱{{money|currency:'&'}}</p>
			<p>显示的时间{{data| date:'yyyy-MM-dd hh:mm:ss EEEE'}}</p>
			<p>显示的Json格式{{jsonObj|json}}</p>
			<p ng-click="expend()">显示一个数字的长度{{article|limitTo:10}}...</p>
			<a ng-href="student2.html">跳转到学生页面2</a>
		</div>
		<div ng-controller="student2Ctrl">
			{{name}}同学很勤奋
			<input ng-model="name" value="" />
			<br />
			<p>{{text}}</p>
			<a ng-href="student2.html">跳转到学生页面2</a>
		</div>	
	</div>
	</body>
	<script type="text/javascript" src="../control/studentCtrl.js" ></script>
</html>