<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title></title>
	</head>
	<script type="text/javascript" src="../js/angular.js"></script>

	<body ng-app="angularDemo" style="border: 1px solid brown;">
		<div ng-controller="student2Ctrl">
			{{name}}同学很勤奋
			<input ng-model="name" value="" />
			<br />
			<p>{{text}}</p>
			<a ng-href="student.html">跳转到学生页面1</a>
		</div>
	</body>
	<script type="text/javascript" src="../control/studentCtrl.js" ></script>
	<script type="text/javascript" src="../control/student2Ctrl.js" ></script>
</html>
